
version: '3.3'

services:
  db:
    image: mysql:8.0.22
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 8079:3306
    environment:
      MYSQL_ROOT_PASSWORD: toor
      MYSQL_DATABASE: phpmvc
      MYSQL_PASSWORD: toor
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - wpsite
  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    image: 'php'
    ports:
      - 8078:80
    tty: true
    links:
     - db
    volumes:
      - ./:/var/www/html
    networks:
      - wpsite
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - '8085:80'
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - wpsite
volumes:
    dbdata:
networks:
      wpsite:
